@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

h1{
    margin-top: 10px;
    color: black;
    display: flex;
    justify-content: center;
}

.background{
    background-image: linear-gradient(40deg, rgb(22, 22, 129), rgb(66, 66, 233));
    height: 100%;
    color: white;
}

.calculadora{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    width: 13rem;
    height: 17rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(95, 95, 95);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 6px;
}

button:hover{
    background-color: rgb(62, 62, 62);
}

button#zero{
    width: 5.8rem;
}

button#igual{
    height: 5.2rem;
}

tr{
    margin-bottom: 5px;
}

p{
    
    height: 6rem;
    border-style: solid;
    border-color: black;
    font-family: ''
}