*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.background{
    background-image: linear-gradient(40deg, rgb(22, 22, 129), rgb(13, 13, 201));
    height: 100%;
    color: white;
}

.calculadora{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;;
}